/* Configurar Banner */

.head{
    position: relative;
}

.head img{
    width: 100%;
    height: 250px;
    display: block;
}

.head div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: map-get($colors , f-white );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head p{
    color: map-get($colors , p-head );
    width: 70%;
    padding-top: 20px;
    text-align: center;
}