/* Creando footer */

footer{
    background-color: map-get($colors , f-blue );
    border-radius: 0px 200px 0px 0px;
}

.interesed{
    height: 350px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.pre-talk{
    width: 50%;
    margin: auto;
    padding: 0px 0px 0px 180px;
}

.pre-talk h2{
    color: map-get($colors , f-white );
    @include font-h3(3.6rem,4.6rem,normal);
}

.pre-talk p{
    color: map-get($colors , f-white );
    opacity: 0.6;
    @include font-h3(1.6rem,2.6rem,normal);
    margin-top: 35px;
}

.talk{
    width: 40%;
    margin: auto;
    text-align: center;
}

.talk button{
    background-color: #5A98D0;
    height: 56px;
    border-radius: 10px;
    padding: 0 50px;
    margin-right: 50px;
    border: none;
    font-size: 1.6rem;
    color: map-get($colors , f-white );
}

/* Linea */
.line-footer{
    width: 100%;
    border-bottom: 1px solid map-get($colors , f-white );
    opacity: 0.4;
}

/* Listas del Footer */

.list-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 50px 220px;
    color: map-get($colors , f-white );
}

.list1{
    display: block;
    width: 30%;
}

.list-footer h3{
    @include font-h3(2rem,2rem,normal);
    margin: 5px 0;
}

.list-footer a{
    color: map-get($colors , f-white );
}

.list-footer ul{
    margin-top: 20px;
}

.list-footer li{
    @include font-h3(1.6rem,2.6rem,normal);
    padding-top: 10px;
    letter-spacing: 0.05rem;
}

.list-footer span{
    @include font-h3(1.6rem,2.6rem,bold);
    padding-right: 10px;
    padding-bottom: 20px;
}

.reserved{
    @include font-h3(1.6rem,2.6rem,normal);
    display: inline-block;
    padding: 0px 0px 30px 220px;
    opacity: 0.4;
}